# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Backend
/backend/build
/backend/.env
/backend/node_modules

# Frontend
/frontend/node_modules

# Root
/node_modules